<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_atah"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_atah"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Reimprimir"></activity>
        <activity android:name=".Reimprimir_guia"></activity>
        <activity android:name=".GenerarGuia"
            android:screenOrientation="portrait"

            />
        <activity android:name=".Detalle" />
        <activity android:name=".Perfil" />
        <activity android:name=".Infracciones" />
        <activity android:name=".MainActivity"

            android:screenOrientation="portrait"
            />
        <activity android:name=".ListaBluetoohtActivity" />
        <activity android:name=".Escanear" />
        <activity android:name=".Login"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permission.PermissionsActivity"
            android:screenOrientation="fullSensor" /> <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>